/* @override 
	http://localhost:3000/stylesheets/custom.css?1286796701
	http://localhost:3000/stylesheets/custom.css?1286769702
	http://localhost:3000/stylesheets/custom.css?1286797997
*/

.container { 
	width: 710px;
	border: 0 solid #919191;
}

body {
	background: #eaeaea none repeat fixed left top;
	width: 100%;
	height: 100px;
	margin: 20px;
	opacity: 1;
}

header { 
	padding-top: 20px;
}

header img { 
	padding: 1em;
}

header img.round {
	border: none;
}

section { 
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background-color: #fff;	
}

section h1 {
font-size: 200%; /* Links */
}

a { 
	color: #09c;
	text-decoration: none;
}

a:hover { 
	color: #000;
	text-decoration: none;
}

a:visited { 
	color: #069;
}

/* Navigation */
nav { 
	float: right;
}

nav { 
	background-color: white;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul { 
	margin: 0;
	padding: 0;
}

nav ul li { 
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a { 
	padding: 0 5px;
	font-weight: bold;
	border-right-color: #000;
	border-right-width: 2px;
}

nav ul li a:visited { 
	color: #09c;
}

nav ul li a:hover {
	color: #000;
	text-decoration: none;
	background-color: #ffffff;
	font-weight: bold;
}

/* Sign up button */
a.signup_button {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	clear: none;
	background-color: #eaeaea;
	overflow: hidden;
	direction: ltr;
	top: -15px;
	right: -15px;
	padding: 3px 20px 5px;
	border: 1px solid #919191;
	border-right: 1px solid #919191;
	text-shadow: rgba(255,254,254,0) 0 0 0;
	position: static;
	float: none;
	white-space: nowrap;
	font: bold 100%/1em Verdana;
}

.round { 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border-radius:	10px;
	border: 1px solid #919191;
	text-shadow: #fffefe 0px 0px 0;
}

footer {
	text-align: center;
	margin-top: 10px;
	width: 710px;
	margin-left: auto;
	margin-right: auto;
	
footer nav {
	float: none;
}