<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><a href="www.apple.com/news">News</a></li>
			<li><a href="www.apple.com">Sponsors</a></li>
		</ul>
	</nav>
</footer>