<!DOCTYPE html>
<html>
  <head>
    <title>Current Location: <%= @locationName %></title>
	<%= csrf_meta_tag %>
  </head>
  <body>
    <h1><%= @locationName %> Page</h1>
	<%= yield %>
  </body>
</html>